Repository fedora-infra/fmn, pull requests merged in 2023-03, with the labels that each got.

#767 Remove unused import which saddened flake8
  tests/api/handlers/test_admin.py
Labels: python, tests and CI

#791 Bring back flake8 configuration
  tox.ini
Labels: fmn-next

#805 Tweak rule lists, edit and create rules forms
  frontend/src/api/constants.ts
  frontend/src/components/DestinationTag.vue
  frontend/src/components/EditableName.vue
  frontend/src/components/NewRuleForm.vue
  frontend/src/components/RuleEditForm.vue
  frontend/src/components/RuleListItem.vue
  frontend/src/components/RuleListItemTitle.vue
  frontend/src/components/RulesList.vue
  frontend/src/components/rule-edit/generation-rule/GenerationRuleListItem.vue
  frontend/src/components/rule-edit/tracking-rule/TrackingRule.vue
  frontend/src/forms/index.ts
  frontend/src/main.ts
  frontend/src/views/HomeView.vue
Labels: fmn-next, frontend

#810 Add a filtered count at the top of the rules list
  frontend/src/components/RulesList.vue
Labels: fmn-next, frontend

#809 Don't show empty genrule filter labels when adding a new genrule
  frontend/src/components/rule-edit/generation-rule/GenerationRuleListItem.vue
Labels: fmn-next, frontend

#825 Describe the various rule types FMN uses
  docs/index.md
  docs/rules.md
Labels: blocked

#828 Mention message severity is unused for now
  docs/rules.md
Labels: documentation, fmn-next

#836 Consistently show artifact type in the frontend
  frontend/src/components/rule-edit/tracking-rule/ArtifactsFollowedParams.vue
Labels: fmn-next, frontend
